<div class="about-section-container container d-flex flex-column justify-content-center align-items-center position-relative px-0">
  <div class="mimoji-about position-absolute object-fit-cover"><%= image_tag "about-mimoji.webp" %></div>

  <div class="about-title d-flex align-items-center justify-content-center linear-text-gradient">
    <h2>Qui suis-je ?</h2>
  </div>

  <div class="about-description d-flex flex-column align-items-center justify-content-center">
    <p>Je m’appelle Félix, <span>développeur web Full-Stack freelance</span>, spécialisé en <span>Ruby on Rails</span>.
        <br><br>
      Formé au Wagon Bordeaux, je conçois des applications web robustes, efficaces et agréables à utiliser.
      Je maîtrise l’ensemble de la stack : <span>back-end</span> (logique métier, API, base de données)
      comme <span>front-end</span> (interfaces claires, <span>responsive design</span> avec Tailwind CSS).
        <br><br>
      J’accompagne les entrepreneurs, artisans et entreprises dans la création de leurs outils digitaux : sites vitrines, plateformes sur-mesure, ou applications web complètes.
        <br><br>
      Mon objectif : livrer des produits <span>fiables</span>, rapides et bien pensés, tout en restant simple, transparent et <span>humain</span> dans ma façon de collaborer.
    </p>
  </div>

  <div class="skills-container w-100 d-flex flex-column align-items-center justify-content-center gap-3">
    <div class="d-flex justify-content-center align-items-center gap-4">

      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "ruby-logo.webp", class: "w-100 object-fit-contain"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "rails-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "postgresql-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "git-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "github-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "figma-logo.webp", class: "w-100"%>
      </div>

    </div>
    <div class="d-flex justify-content-center align-items-center gap-4">

      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "html-logo.webp", class: "h-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "css-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "java-script-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "tailwind-logo.webp", class: "w-100"%>
      </div>
      <div class="skill-glass-container glass-effect d-flex justify-content-center align-items-center">
        <%= image_tag "bootstrap-logo.webp", class: "w-100"%>
      </div>

    </div>
  </div>
</div>
