<% content_for :title, "Portfolio Félix KORBENDAU | Développeur Full Stack" %>
<% content_for :description, "Découvrez le portfolio de Félix Korbendau, développeur Full-Stack passionné. Expertise en Ruby on Rails, JavaScript, et technologies modernes. Projets innovants et solutions web créatives." %>

<main role="main">
  <header>
    <%= render partial: "shared/navbar" %>
  </header>

  <div class="hero-section">
    <%= render partial: "pages/link/home_section" %>
  </div>

  <div class="main-sections">
    <section aria-label="Features">
      <%= render partial: "pages/link/features_section" %>
    </section>

    <section aria-label="AR">
      <%= render partial: "pages/link/ar_section" %>
    </section>

    <section aria-label="Tech">
      <%= render partial: "pages/link/tech_section" %>
    </section>

    <footer>
      <%= render partial: "shared/footer" %>
    </footer>
  </div>
</main>
